body {
    overflow-x: hidden;
}

.loading {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 40vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article {
    width: 80%;
    min-height: 105vh;
    background-color: white;
    padding: 30px;
}

/* mouse over link */
a:hover {
    color: #4DFFFF;
}

/* selected link */
a.active {
    color: #4DFFFF !important;
}

p {
    font-size: 20px;
    line-height: 2;
}

.imgfmt {
    width:100%; 
    margin-bottom:10px;
}

.imtdot {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.navlist::-webkit-scrollbar {
    width: 10px;
}

.navlist::-webkit-scrollbar-thumb {
    background: #57deea79;
    border-radius: 5px;
}

@media (min-width: 641px) {
    .sidebar {
        width: 350px !important;
    }
}

@media (max-width: 641px) {
    .article {
        width: 100%;
    }

    .loading {
        width: 110vw;
    }
}