@page "/css2"
@inherits Blog.Base.Base

<h1 style="display: none;"> @h1Title - CSS VH、VW、VMIN、VMAX</h1>

<h2><b>VH、VW、VMIN、VMAX</b></h2>
<br />

<h3><b>px、%</b></h3>
<p>
    px（pixel）：像素單位，它是一個絕對單位，表示元素的寬度或高度以像素為單位，一個像素相當於顯示設備上的一個點。<br />
    %（percent）：百分比單位，它是一個相對單位，表示元素的寬度或高度相對於其父元素的寬度或高度的百分比。<br />
</p>

<h3><b>VH、VW、VMIN、VMAX</b></h3>
<p>
    CSS 中的 VH、VW、VMIN 和 VMAX 是相對於視口（Viewport）的單位，它們可以用來設置元素的寬度、高度、邊框寬度、邊距等尺寸屬性。<br /><br />

    VH（Viewport Height）：視口高度的百分比，1 VH 等於視口高度的 1%。<br />
    VW（Viewport Width）：視口寬度的百分比，1 VW 等於視口寬度的 1%。<br />
    VMIN（Viewport Minimum）：視口高度和寬度中的較小值的百分比，1 VMIN 等於視口高度和寬度中的較小值的 1%。<br />
    VMAX（Viewport Maximum）：視口高度和寬度中的較大值的百分比，1 VMAX 等於視口高度和寬度中的較大值的 1%。<br /><br />
    例如，假設視口的寬度是 800px，高度是 600px，那麼：<br />

    1 VH 等於 6px（即 600px 的 1%）。<br />
    1 VW 等於 8px（即 800px 的 1%）。<br />
    1 VMIN 等於 6px（即 600px 和 800px 中的較小值 600px 的 1%）。<br />
    1 VMAX 等於 8px（即 600px 和 800px 中的較大值 800px 的 1%）。<br />
    使用這些相對單位可以讓設計師更容易地設置響應式設計，因為它們可以根據視口的大小自動調整元素的大小。例如，以下 CSS 代碼設置一個寬度為視口寬度的一半、高度為視口高度的一半的區塊：<br />
</p>
<pre><code class="css">
   .box {
      width: 50vw;
      height: 50vh;
    } 
</code></pre>
<p>
    這個區塊會在視口大小改變時自動調整大小，從而保持其寬高比不變。
</p>

@code {
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);

        seo.pageTitle = "CSS : VH、VW、VMIN、VMAX";
        seo.metaTitle = "CSS : VH、VW、VMIN、VMAX";
        seo.metaDescription = @"VH、VW、VMIN、VMAX :  vh是view height，指螢幕可視範圍高度的百分比；vw則是view width，指螢幕可是範圍寬度的百分比。<br />
            vmin，意思是選取「長或寬較小的百分比」，反之vmax意思就是選取「長或寬較大的百分比」";

        await base.SetParametersAsync(ParameterView.Empty);
    }
}