@page "/"

<PageTitle>中二病也要寫程式</PageTitle>

<HeadContent>
    <meta name="keywords" content="中二病也要寫程式" />
    <meta name="description" content="中二病也要寫程式 - 分享前後端程式學習經驗，程式語言教學 Program teaching : C#、Go、Dart、JavaScript、CSS
        流行框架 Framework : Vue + Nuxt、ASP.NET Core MVC、Blazor、Flutter
        環境部屬 Environment deployment : Docker、GCP、GitHub Pages" />
    <meta property="og:title" content="中二病也要寫程式" />
    <meta property="og:description" content="中二病也要寫程式 - 分享前後端程式學習經驗，程式語言教學 Program teaching : C#、Go、Dart、JavaScript、CSS
        流行框架 Framework : Vue + Nuxt、ASP.NET Core MVC、Blazor、Flutter
        環境部屬 Environment deployment : Docker、GCP、GitHub Pages"  />
    <meta name="twitter:title" content="中二病也要寫程式" />
    <meta name="twitter:description" content="中二病也要寫程式 - 分享前後端程式學習經驗，程式語言教學 Program teaching : C#、Go、Dart、JavaScript、CSS
        流行框架 Framework : Vue + Nuxt、ASP.NET Core MVC、Blazor、Flutter
        環境部屬 Environment deployment : Docker、GCP、GitHub Pages" />
</HeadContent>

<div class="article">
    <h1><b>簡介</b></h1>
    <br />

    <img src="images/index_1.jpg" alt="gcpdocker_2" class="imgfmt" style="height:60vh">
    <br />
    <p>
        <b>
            我是一個全端工程師，在此會記錄我學習中碰到的各種問題<br />
            包括 網頁、手機、前後端、架站環境部屬...等等<br />
            讓我們一同學習 ~ 一同進步~
            <br />
        </b>
    </p>
</div>
