<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UnderWorld</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<MudNavMenu Style="color: #fff;">
    <MudNavGroup Title="C#" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./csharp1">C#基礎 - new vs overrvide</MudNavLink>
        <MudNavGroup Title="Blazor" Expanded="true" Icon="@Icons.Filled.Book">
            <MudNavLink Href="./githubpage">Blazor WebAssembly 使用Github Pages進行部屬</MudNavLink>
        </MudNavGroup>
    </MudNavGroup>
    <MudNavGroup Title="JavaScript" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./javascript1">使用Promise達到同步等待js資源載入</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Dart" Expanded="true" Icon="@Icons.Filled.Storage">
        <MudNavLink Href="./dart1">Dart基礎 - @@immutable</MudNavLink>
        <MudNavLink Href="./dart2">Dart基礎 - 建構式</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
