.article {
    width: 80%;
    background-color: white;
    padding: 30px;
}

/* mouse over link */
a:hover {
    color: #4DFFFF;
}

/* selected link */
a.active {
    color: #4DFFFF !important;
}

p {
    font-size: 20px;
    line-height: 2;
}

.imgfmt {
    width:100%; 
    margin-bottom:10px;
}

.imtdot {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}